@using LostPet.Models
@using LostPet.Services

@attribute [System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
@inject PetService petService
@inject ReportService reportService
@inject SightingsService sightingsService
@inject NavigationManager navigationManager
@inject FilterService filter

@rendermode InteractiveServer

<div class="card my-5">
    <div class="card-header">
        <h5 class="card-title">[@(Model.Pet.Status == Status.Lost ? "ZAGINIONY" : Model.Pet.Status == Status.Stray ? "ZBŁĄKANY" : "ODNALEZIONY")] @Model.Pet.Name</h5>
    </div>
    <img src="@Model.Pet.Photo" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Opis: @Model.Pet.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Utworzono: @Model.Pet.CreatedAt</li>
        <li class="list-group-item">Ostatnio widziny w: @Model.Pet.LastSeenLocation</li>
        <li class="list-group-item">Dodane przez: @Model.ReporterEmail</li>
    </ul>
    <div class="card-footer text-body-secondary overflow-auto @(Model.Sightings.Count > 0 ? "" : "py-0")" style="max-height: 220px; background-color: #023430;">
        @foreach (SightingsViewModel sighting in Model.Sightings)
        {
            <div class="card border-success mb-3 comment" style="background-color: inherit;">
                <div class="card-header">Dodane przez: @sighting.ReporterEmail </div>
                <div class="card-body">
                    @if(!string.IsNullOrEmpty(sighting.Sighting.Location)) {<h5 class="card-title">Widziany w: @sighting.Sighting.Location</h5>}
                    <p class="card-text">@sighting.Sighting.Notes</p>
                </div>
                <div class="card-footer">Dodane: @sighting.Sighting.SightingDate</div>
            <AuthorizeView>
                    @if (CurrentUser == Model.Report.UserID || (context.User.Claims?.FirstOrDefault(r => r.Type.Contains("role"))?.Value == "SuperAdmin"))
                {
                    <div class="card-footer">
                        <button type="button" class="w-100 btn btn-danger" @onclick="@(() => RemoveComment(sighting.Sighting.SightingID))">Usuń komentarz</button>
                </div>
                }
                </AuthorizeView>
            </div>
        }
    </div>
    <div class="card-footer text-body-secondary">
        <div class="btn-group" role="group" aria-label="Basic outlined example" style="width: 100%">
            <button type="button" class="btn btn-outline-primary main-button" @onclick="@(e => Details(Model.Pet.PetID))">Szczegóły</button>
            <button type="button" class="btn btn-outline-primary main-button" disabled="@(Model.Pet.Status == Status.Found)" @onclick="@(e => AddComment(Model.Pet.PetID))">Dodaj komentarz</button>
            <AuthorizeView>
                @if (CurrentUser == Model.Report.UserID || (context.User.Claims?.FirstOrDefault(r => r.Type.Contains("role"))?.Value == "SuperAdmin"))
            {
                @if (Model.Pet.Status != Status.Found)
                {
                    <button type="button" class="btn btn-outline-primary main-button" @onclick="@(() => Found(Model.Pet.PetID))">Odnaleziony</button>
                }
                <button type="button" class="btn btn-danger" @onclick="@(() => Remove(Model.Pet.PetID))">Usuń</button>
            }
            </AuthorizeView>
        </div>
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public required ReportSightingPetViewModel Model { get; set; }

    [Parameter, EditorRequired]
    public required string CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("XD");
    }
    private void AddComment(int pet)
    {
        if(Model.Pet.Status != Status.Found)
        {
            navigationManager.NavigateTo($"Sighting/{pet}");
        }
    }

    private void Details(int pet)
    {
        if (Model.Pet.Status != Status.Found)
        {
            navigationManager.NavigateTo($"details/{pet}");
        }
    }

    private async void Remove(int id)
    {
        await petService.RemoveByIdAsync(id);
        await filter.Filter(x => true);
        await InvokeAsync(() => this.StateHasChanged());
    }

    private async void Found(int id)
    {
        await petService.SetFoundByIdAsync(id);
        await reportService.SetFoundByIdAsync(id);
        await InvokeAsync(() => this.StateHasChanged());
    }

    private async void RemoveComment(int id)
    {
        await sightingsService.RemoveByIdAsync(id);
        await filter.Filter(x => true);
        await InvokeAsync(() => this.StateHasChanged());
    }
}